.countdown-class {
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background-color 2s;
}

video#tricolor-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


video#independence-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
  
  #countdown {
    font-size: 10rem;
    margin-bottom: 10px;
    color: navy;
    font-family: 'PatrioticFont', cursive;
  }

  